# External Lab 

Here each question is of 1 mark.

# Multiple Linear Regression

## Problem Statement

Use Multiple Linear Regression to **predict the consumption of petrol** given relevant variables are the petrol tax, the per capita, income, the number of miles of paved highway, and the proportion of the population with driver's licenses.

## Dataset

There are 48 rows of data.  The data include:

      I,  the index;
      A1, the petrol tax;
      A2, the per capita income;
      A3, the number of miles of paved highway;
      A4, the proportion of drivers;
      B,  the consumption of petrol.

### Reference 

    Helmut Spaeth,
    Mathematical Algorithms for Linear Regression,
    Academic Press, 1991,
    ISBN 0-12-656460-4.

    S Weisberg,
    Applied Linear Regression,
    New York, 1980, pages 32-33.

## Question 1 - Exploratory Data Analysis

*Read the dataset given in file named **'petrol.csv'**. Check the statistical details of the dataset.*

**Hint:** You can use **df.describe()**

In [135]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
petrol_data = pd.read_csv("E:/python basics/Residency lab 2 external/petrol.csv")

petrol_data.describe(include="all")

             tax       income       highway         dl   consumption
count  48.000000    48.000000     48.000000  48.000000     48.000000
mean    7.668333  4241.833333   5565.416667   0.570333    576.770833
std     0.950770   573.623768   3491.507166   0.055470    111.885816
min     5.000000  3063.000000    431.000000   0.451000    344.000000
25%     7.000000  3739.000000   3110.250000   0.529750    509.500000
50%     7.500000  4298.000000   4735.500000   0.564500    568.500000
75%     8.125000  4578.750000   7156.000000   0.595250    632.750000
max    10.000000  5342.000000  17782.000000   0.724000    968.000000

# Question 2 - Cap outliers 

Find the outliers and cap them. (Use (Q1 - 1.5 * IQR) as the minimum cap and (Q3 + 1.5 * IQR) as the max cap. The decision criteria is you should consider the datapoints which only falls within this range. The data points which fall outside this range are outliers and the entire row needs to be removed

In [136]:

q1 = petrol_data.quantile(0.25)
q3 = petrol_data.quantile(0.75)
iqr = q3 - q1
lower,upper = q1 - 1.5 * iqr,q3 + 1.5 * iqr
petrol_data = petrol_data[~((petrol_data < lower) | (petrol_data > upper)).any(axis=1)]
petrol_data.shape

(43, 5)

# Question 3 - Independent variables and collinearity 
Which attributes seems to have stronger association with the dependent variable consumption?

In [ ]:
1)attribute : the number of drivers

In [ ]:
2)attribute : tax

### Observing the above correlation values between all the variables, we can see that there is stronger association between the number of drivers and consumption. And comparatively tax has an association in a negative way. 
Insights :
As tax increases the consumption decreases.
As number of drivers is more consumption is more

# Question 4 - Transform the dataset 
Divide the data into feature(X) and target(Y) sets.

In [137]:
#features
cols = [0,3]
X = petrol_data[petrol_data.columns[cols]]

#target
cols=[4]
y = petrol_data[petrol_data.columns[cols]]

# Question 5 - Split data into train, test sets 
Divide the data into training and test sets with 80-20 split using scikit-learn. Print the shapes of training and test feature sets.

In [138]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20 , random_state=1)

# Question 6 - Build Model 
Estimate the coefficients for each input feature. Construct and display a dataframe with coefficients and X.columns as columns

In [139]:
linear_model = LinearRegression()
linear_model.fit(X_train,y_train)
coeff=[]
i=0
for idx, col_name in enumerate(X_train.columns):
    coeff.append(linear_model.coef_[0][idx])
    
coef = pd.DataFrame(coeff,columns=["Coefficient"])
coef

   Coefficient
0   -30.709243
1   892.886209

# R-Square

# Question 7 - Evaluate the model 
Calculate the accuracy score for the above model.

In [140]:
from sklearn.metrics import * 
import math
y_pred = linear_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
rmse = math.sqrt(mse)
print(rmse)
print("R - SQUARE :  {0}".format(r2_score(y_test,y_pred)))
print(linear_model.score(X_test,y_test))
print(linear_model.score(X_train,y_train))

69.02352698398606
R - SQUARE :  0.2876056314158515
0.2876056314158515
0.4657867429910155

# Question 8: Repeat the same Multi linear regression modelling by adding both Income and Highway features
Find R2

In [141]:
#features
cols = [0,1,2,3]
X1 = petrol_data[petrol_data.columns[cols]]

#target
cols=[4]
y1 = petrol_data[petrol_data.columns[cols]]

In [142]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.20 , random_state=1)

In [143]:
linear_model = LinearRegression()
linear_model.fit(X1_train,y1_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [144]:
y1_pred = linear_model.predict(X1_test)
mse=mean_squared_error(y1_test,y1_pred)
rmse = math.sqrt(mse)
print(rmse)
print("R - SQUARE :  {0}".format(r2_score(y1_test,y1_pred)))
print(linear_model.score(X1_test,y1_test))
print(linear_model.score(X1_train,y1_train))

45.309689468984025
R - SQUARE :  0.6930212207091808
0.6930212207091808
0.6407622941321002

# Question 9: Print the coefficients of the multilinear regression model

In [145]:
for idx, col_name in enumerate(X1_train.columns):
    print("The coefficient for {} is {}".format(col_name, linear_model.coef_[0][idx]))

The coefficient for tax is -39.411583621415424
The coefficient for  income is -0.06262814005687901
The coefficient for  highway is -0.0030219870395790096
The coefficient for  dl is 950.8827441430783

# Question 10 
In one or two sentences give reasoning on R-Square on the basis of above findings
Answer

In [146]:
#1)model 1 Finding :- The R2 value 28.76 which means less accuracy 
# there are many factors that contribute to findings like need more data,poor features and bad assumptions.

In [ ]:
#2)model 2 Finding :- Here It is 69.30 means far better predictions than #1,as we add more feature.