In [2]:
import numpy as np
import pandas as pd

In [3]:
titan_data = pd.read_csv("E:\python basics\Residency 2 Statistical project\TitanData.csv")

In [4]:
titan_data

    SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0             1                         57                         62
1             2                        103                        122
2             3                         59                         54
3             4                         75                         82
4             5                         84                         84
5             6                         73                         86
6             7                         35                         32
7             8                        110                        104
8             9                         44                         38
9            10                         82                        107
10           11                         67                         84
11           12                         64                         85
12           13                         78                         99
13           14                         53                         39
14           15                         41                         34
15           16                         39                         58
16           17                         80                         73
17           18                         87                         53
18           19                         73                         66
19           20                         65                         78
20           21                         28                         41
21           22                         62                         71
22           23                         49                         38
23           24                         84                         95
24           25                         63                         81
25           26                         77                         58
26           27                         67                         75
27           28                        101                         94
28           29                         91                        100
29           30                         50                         68

In [37]:
mu1=titan_data.iloc[:,1]
mu1.mean()

68.03333333333333

In [38]:
mu2=titan_data.iloc[:,2]
mu2.mean()

72.03333333333333

In [7]:
#2) Use the five percent significance test over the data to determine the p value
#to check new scheme has significantly raised outputs?

In [47]:
from scipy.stats import ttest_rel
res = ttest_rel(titan_data.iloc[:,2:3],titan_data.iloc[:,1:2])
res

Ttest_relResult(statistic=array([1.55591438]), pvalue=array([0.13057554]))

In [48]:
#alternative
import scipy.stats
diff = titan_data.iloc[:,2:3] - titan_data.iloc[:,1:2].values
diff
scipy.stats.ttest_1samp(diff,0)

Ttest_1sampResult(statistic=array([1.55591438]), pvalue=array([0.13057554]))

In [ ]:
#3) What conclusion does the test (p-value) lead to?

In [ ]:
Solution : Since p-value (= 0.1305) is higher than 0.05, we accept (fail to reject) NULL hypothesis.
The new scheme has NOT significantly raised outputs.

In [ ]:
#4)Suppose it has been calculated that for Titan to break even, the average output must increase by Â£5000. If this figure is an alternative hypothesis, what is:

(a)  The probability of a type 1 error?

(b)  What is the p-value of the hypothesis test if we test for a difference of $5000?

In [ ]:
a) Solution : Probability of Type I error = significant level = 0.05 or 5%

In [ ]:
b) Solution Below -:

In [50]:
scipy.stats.ttest_ind(titan_data.iloc[:,2:3],titan_data.iloc[:,1:2])

Ttest_indResult(statistic=array([0.69370676]), pvalue=array([0.49063516]))